# DATA CLEANING

In [28]:
#pip install nltk

In [29]:
import nltk
#nltk.download()

## step1 - importing the dataset

In [30]:
import pandas as pd
df = pd.read_excel('Movie sarcasm Final Dataset.xlsx')
df

,Review,Sentiment,Sarcasm
0,One of the other reviewers has mentioned that ...,Positive,Non-Sarcastic
1,A wonderful little production. <br /><br />The...,Positive,Non-Sarcastic
2,This movie was a groundbreaking experience!<br...,Positive,Sarcastic
3,I thought this was a wonderful way to spend ti...,Positive,Non-Sarcastic
4,Basically there's a family where a little boy ...,Negative,Sarcastic
...,...,...,...
6539,This movie's idea of character development is ...,Negative,Sarcastic
6540,I guess they ran out of budget for a decent sc...,Negative,Sarcastic
6541,Who needs a plot when you have explosions ever...,Negative,Sarcastic
6542,Is there an award for most generic action movi...,Negative,Sarcastic
6543,"Two hours of non-stop, mind-numbing action.",Negative,Sarcastic

## step2 - removing duplicate reviews

In [32]:
df = df.drop_duplicates(subset='Review' , keep ='first')
df

,Review,Sentiment,Sarcasm
0,One of the other reviewers has mentioned that ...,Positive,Non-Sarcastic
1,A wonderful little production. <br /><br />The...,Positive,Non-Sarcastic
2,This movie was a groundbreaking experience!<br...,Positive,Sarcastic
3,I thought this was a wonderful way to spend ti...,Positive,Non-Sarcastic
4,Basically there's a family where a little boy ...,Negative,Sarcastic
...,...,...,...
6539,This movie's idea of character development is ...,Negative,Sarcastic
6540,I guess they ran out of budget for a decent sc...,Negative,Sarcastic
6541,Who needs a plot when you have explosions ever...,Negative,Sarcastic
6542,Is there an award for most generic action movi...,Negative,Sarcastic
6543,"Two hours of non-stop, mind-numbing action.",Negative,Sarcastic

## step 3: converting to lower case

coverting all the Uppercase to lowercase using str.lower

In [33]:
df['cleaned_data'] = df['Review'].str.lower()
df.cleaned_data

C:\Users\Desktop\AppData\Local\Temp\ipykernel_10324\1382321034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_data'] = df['Review'].str.lower()

0       one of the other reviewers has mentioned that ...
1       a wonderful little production. <br /><br />the...
2       this movie was a groundbreaking experience!<br...
3       i thought this was a wonderful way to spend ti...
4       basically there's a family where a little boy ...
                              ...
6539    this movie's idea of character development is ...
6540    i guess they ran out of budget for a decent sc...
6541    who needs a plot when you have explosions ever...
6542    is there an award for most generic action movi...
6543          two hours of non-stop, mind-numbing action.
Name: cleaned_data, Length: 6510, dtype: object

## step 4 - Punctuation removal
all the punctuation marks like ' " ; ? . ! are removed

In [34]:
import string
# Function to remove punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

# Apply the function to the 'cleaned_data' column
df['cleaned_data'] = df['cleaned_data'].apply(remove_punctuation)
df.cleaned_data

C:\Users\Desktop\AppData\Local\Temp\ipykernel_10324\76697476.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_data'] = df['cleaned_data'].apply(remove_punctuation)

0       one of the other reviewers has mentioned that ...
1       a wonderful little production br br the filmin...
2       this movie was a groundbreaking experiencebr b...
3       i thought this was a wonderful way to spend ti...
4       basically theres a family where a little boy j...
                              ...
6539    this movies idea of character development is m...
6540    i guess they ran out of budget for a decent sc...
6541    who needs a plot when you have explosions ever...
6542    is there an award for most generic action movi...
6543              two hours of nonstop mindnumbing action
Name: cleaned_data, Length: 6510, dtype: object

## step 5 removal of stopwords

In [35]:
from nltk.corpus import stopwords

# Define English stopwords
stop_words = set(stopwords.words('english'))

# Function to remove stopwords from a sentence
def remove_stopwords(text):
    words = text.split()
    filtered_words = [word for word in words if word not in stop_words]
    return ' '.join(filtered_words)

# Apply the function cleaned_data
df['cleaned_data'] = df['cleaned_data'].apply(remove_stopwords)


df.cleaned_data

C:\Users\Desktop\AppData\Local\Temp\ipykernel_10324\1117736825.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_data'] = df['cleaned_data'].apply(remove_stopwords)

0       one reviewers mentioned watching 1 oz episode ...
1       wonderful little production br br filming tech...
2       movie groundbreaking experiencebr br ive never...
3       thought wonderful way spend time hot summer we...
4       basically theres family little boy jake thinks...
                              ...
6539    movies idea character development muscles less...
6540                       guess ran budget decent script
6541             needs plot explosions every five minutes
6542                 award generic action movie ever made
6543                 two hours nonstop mindnumbing action
Name: cleaned_data, Length: 6510, dtype: object

In [36]:
df

,Review,Sentiment,Sarcasm,cleaned_data
0,One of the other reviewers has mentioned that ...,Positive,Non-Sarcastic,one reviewers mentioned watching 1 oz episode ...
1,A wonderful little production. <br /><br />The...,Positive,Non-Sarcastic,wonderful little production br br filming tech...
2,This movie was a groundbreaking experience!<br...,Positive,Sarcastic,movie groundbreaking experiencebr br ive never...
3,I thought this was a wonderful way to spend ti...,Positive,Non-Sarcastic,thought wonderful way spend time hot summer we...
4,Basically there's a family where a little boy ...,Negative,Sarcastic,basically theres family little boy jake thinks...
...,...,...,...,...
6539,This movie's idea of character development is ...,Negative,Sarcastic,movies idea character development muscles less...
6540,I guess they ran out of budget for a decent sc...,Negative,Sarcastic,guess ran budget decent script
6541,Who needs a plot when you have explosions ever...,Negative,Sarcastic,needs plot explosions every five minutes
6542,Is there an award for most generic action movi...,Negative,Sarcastic,award generic action movie ever made
6543,"Two hours of non-stop, mind-numbing action.",Negative,Sarcastic,two hours nonstop mindnumbing action

## updating the new data to the excel sheet

In [41]:
df_new = pd.read_excel('Cleaned Dataset.xlsx')
df_new['cleaned_data'] = df['cleaned_data']
df_new['Sentiment'] = df['Sentiment']
df_new['Sarcasm'] = df['Sarcasm']
df_new.to_excel('Cleaned Dataset.xlsx', index=False)
df_new

,cleaned_data,Sentiment,Sarcasm
0,one reviewers mentioned watching 1 oz episode ...,Positive,Non-Sarcastic
1,wonderful little production br br filming tech...,Positive,Non-Sarcastic
2,movie groundbreaking experiencebr br ive never...,Positive,Sarcastic
3,thought wonderful way spend time hot summer we...,Positive,Non-Sarcastic
4,basically theres family little boy jake thinks...,Negative,Sarcastic
...,...,...,...
6505,actionpacked boredom finest,Negative,Sarcastic
6506,laughed cheesy dialogue actual jokes,Negative,Sarcastic
6507,explosions distract lack coherent plot,Negative,Sarcastic
6508,many fight scenes little substance,Negative,Sarcastic
6509,script making go,Negative,Sarcastic